<div class="container-fluid">
    <div class="row"><h1>{{ node.name }}</h1></div>
    <div class="row">
        <form class="row" #filterForm="ngForm" (ngSubmit)="filterData(filterForm.value)">
            <div class="col-2">
                <label for="startDate">Start Time:</label>
                <input type="datetime-local" id="startDate" name="startDate" value="{{ filter.startDate }}" [(ngModel)]="filter.startDate">
            </div>
            <div class="col-2">
                <label for="endDate">End Time:</label>
                <input type="datetime-local" id="endDate" name="endDate" value="{{ filter.endDate }}" [(ngModel)]="filter.endDate">
            </div>
            <div class="col-2">
                <button type="submit">Filter</button>
            </div>
        </form>
    </div>

    <br>

    <div class="row" style="margin-bottom: 100px;">
        <div>
            <h3>Temperature</h3>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="chart-container" style="position: relative"><canvas id="temperature-chart" width="400" height="{{ height}}"></canvas></div>
            </div>
            <div class="col-md-3">
                <div style="overflow-y: scroll;" id="temperature-table">
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">#</th>
                            <th scope="col">Value</th>
                            <th scope="col">Date</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let temperature of temperatureValues; let i = index" [attr.data-index]="i">
                                <td>{{ i + 1 }}</td>
                                <td>{{ temperature.value }}</td>
                                <td>{{ temperature.updatedAt }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


    <div class="row" style="margin-bottom: 150px;">
        <div>
            <h3>Humidity</h3>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="chart-container" style="position: relative"><canvas id="humidity-chart" width="400" height="{{ height}}"></canvas></div>
            </div>
            <div class="col-md-3">
                <div style="overflow-y: scroll;" id="humidity-table">
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">#</th>
                            <th scope="col">Value</th>
                            <th scope="col">Date</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let humidity of humidityValues; let i = index" [attr.data-index]="i">
                                <td>{{ i + 1 }}</td>
                                <td>{{ humidity.value }}</td>
                                <td>{{ humidity.updatedAt }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
